* {
	font-family: 'Open Sans', sans-serif;
}

body {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
}

a {
	text-decoration: none;
}


nav a {
	color: white;
	text-align: center;
    vertical-align: middle;
	display: inline-block;
	padding: 20px;
	margin: 20px;
	width: 200px;
	border-radius: 10px;
	height: 125px;
}

nav #projects{
	background-image: url("../img/einstein.jpg");
	background-size: cover;
	overflow: hidden;
}
nav #projects:hover{
	background-image: url("../img/spaz.jpg");
}

nav #cv{
	background-image: url("../img/jobs.jpg");
	background-size: cover;
}
nav #blog{
	background-image: url("../img/turing.jpg");
	background-size: cover;
}

