* {
	font-family: 'Open Sans', sans-serif;
}

body {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
}
h1 a {
	text-decoration: none;
	
}


nav ul {
	color: white;
	font-size: 3em;
	text-align: center;
	vertical-align: middle;
}

nav ul li {
	display: inline-block;
	padding: 20px;
	margin: 20px;
	border: 1px solid black;
	width: 200px;
	border-radius: 10px;
	height: 125px;
}

nav ul li:first-child{
	background-image: url("../img/einstein.jpg");
	background-size: cover, auto;
}
nav ul li:nth-child(2){
	background-image: url("../img/jobs.jpg");
	background-size: cover;
}
nav ul li:nth-child(3){
	background-image: url("../img/turing.jpg");
	background-size: cover;
}

