body#uri--index {
	.m-nav {
		#toggle-nav {
			display: none;

			~label {
				display: none;
			}
		}

		>ul {
			display: block;
		}
	}

	background-image: url("/asset/face.jpg");
	background-position: bottom center;
	background-size: cover;
}